@model PagedList.IPagedList<UMusic.Models.tb_album>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_HLayout.cshtml";
}

<div style="background: url(/Content/background/connect.jpg); ">
    <div class="container profile_container">
        <div class="row">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("主页","Index","Home")</li>
                <li class="active">音乐专辑</li>
            </ol>
        </div>
    </div>
    <div class="container albumitem">
        <div class="row">
            @foreach(var albums in Model){
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="/Home/Product?Id=@albums.albumId">
                            <img src="@albums.imagesUrl">
                        </a>
                        <div class="caption">
                            <p><a href="/Home/Product?Id=@albums.albumId">@albums.albumName</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="page-help">
            @Html.PagedListPager(Model, page => Url.Action("Album", new { page }))
        </div>
       
    </div>
</div>
<style>
    .page-help {
        margin-left:330px;
        margin-bottom:50px;
    }
</style>